@charset "UTF-8";
.list__inline-gray {
  margin-bottom: 18px; }
  .list__inline-gray li {
    color: #7B7B7B;
    font-size: 14px;
    display: inline; }
    .list__inline-gray li::after {
      content: '•';
      margin: 0 5px; }
    .list__inline-gray li:last-child::after {
      content: ''; }

/* ====================
    Reset
   @mixin =================== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ====================
    Header
   @mixin =================== */
header {
  padding-top: 60px;
  background: url("../img/header-bg-simple.png") 0 0 no-repeat; }
  header.header__inner_page {
    background: #FFFFFF;
    background-image: none;
    border-bottom: 2px solid #B30086;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    padding: 20px 0; }

.header-bottom-bg {
  background: transparent url(../img/header-bottom-bg.png) center center no-repeat;
  width: 100%;
  height: 137px;
  background-size: contain;
  z-index: 10;
  position: relative;
  background-size: 100%;
  margin-top: 21px; }

.nav {
  padding-top: 25px; }
  .nav .nav__link {
    float: left;
    line-height: 30px;
    margin-right: 25.5px;
    position: relative; }
    .nav .nav__link:hover a {
      text-decoration: none;
      padding-bottom: 5px;
      box-shadow: 0 2px 0 #B30086; }
    .nav .nav__link a {
      color: #000;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .nav .nav__link-no-boxshadow:hover a {
    padding-bottom: 0px;
    box-shadow: 0 0px 0 #B30086; }
  .nav .nav__link-green-arrow:after {
    content: '';
    width: 8px;
    height: 6px;
    position: absolute;
    top: 12px;
    right: -17px;
    background: transparent url("../img/menu-icon-green-triangle.svg") center center no-repeat; }
  .nav .nav__icon:hover a svg {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000; }
  .nav .nav__icon:hover a .line {
    fill: #FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .nav #toggleNav {
    margin-right: 0; }

.hero {
  margin: 122px 0; }
  .hero .title {
    font-size: 55px;
    font-family: 'Gotham-Book';
    width: 664px;
    word-break: normal;
    margin-bottom: 20px; }
    .hero .title span {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .hero .title:hover span {
      color: #B30086; }
  .hero .form .form__input {
    height: 55px;
    width: 300px;
    border: 0;
    padding: 0 5px 0 25px;
    font-size: 18px;
    font-family: 'Gotham-Light';
    background: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .hero .form .form__input:hover {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
    .hero .form .form__input:focus {
      outline: 0;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
  .hero .form .form__select {
    height: 55px;
    width: 150px;
    border: 0;
    border-radius: 0;
    padding: 0 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFF url("../img/form-select-triangle.svg") 125px center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .hero .form .form__select:focus {
      outline: 0;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
    .hero .form .form__select:hover {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
  .hero .form .form__submit {
    border: 0;
    border-radius: 0;
    height: 55px;
    width: 101px;
    text-indent: -9999px;
    border: 5px solid #000;
    background: transparent url("../img/search-icon-btn.svg") center center no-repeat;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .hero .form .form__submit:hover {
      background: #000 url("../img/search-icon-btn-white.svg") center center no-repeat; }

.focus .focus__list::after {
  display: block;
  content: "";
  clear: both; }

.focus .focus__list h3 {
  font-family: 'Gotham-Book';
  margin-bottom: 29px; }

.focus .focus__list li {
  margin-bottom: 14px;
  float: left; }
  .focus .focus__list li a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Gotham-Book'; }

.focus .focus__list-twocolumn li {
  width: 50%; }

.focus .focus__list-threecolumn li {
  width: 33%; }

/* Gotham */
font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/gotham/Gotham-Light.otf"); }

font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham/Gotham-Book.otf"); }

font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham/Gotham-Bold.otf"); }

font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/gotham/Gotham-Medium.otf"); }

/* Gotham */
/* Gotham */
.featuredJobs {
  padding: 150px 0; }
  .featuredJobs .featuredJobs__jobs .featuredJobs_box {
    padding: 20px;
    min-height: 250px;
    margin-top: 100px;
    font-family: 'Gotham-Book';
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box::after {
      display: block;
      content: "";
      clear: both; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box:hover {
      box-shadow: 0 5px 19px rgba(0, 0, 0, 0.07); }
      .featuredJobs .featuredJobs__jobs .featuredJobs_box:hover h3 {
        color: #B30086; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box h3 {
      margin-bottom: 24px;
      font-size: 17px;
      color: #464646;
      letter-spacing: 1.24px;
      line-height: 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box p {
      margin-bottom: 24px;
      font-size: 14px;
      color: #464646;
      line-height: 25px;
      margin-bottom: 11px; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box .featuredJobs_links li {
      display: inline; }
      .featuredJobs .featuredJobs__jobs .featuredJobs_box .featuredJobs_links li:first-child::after {
        content: '•';
        margin: 0 5px 0 7px; }
    .featuredJobs .featuredJobs__jobs .featuredJobs_box .featuredJobs_links a {
      box-shadow: inset 0 -1px 0 #B30086;
      color: #B30086;
      padding-bottom: 3px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .featuredJobs .featuredJobs__jobs .featuredJobs_box .featuredJobs_links a:hover {
        text-decoration: none;
        color: #464646;
        box-shadow: inset 0 0 0 #B30086; }

.body__title {
  color: #464646;
  font-size: 24px;
  font-family: 'Gotham-Book'; }
  .body__title .body__line {
    margin: 10px 0 30px 0;
    background: #B30086;
    width: 100px;
    height: 2px;
    display: block; }

.body__subtitle {
  font-size: 17px;
  font-family: 'Gotham-Book';
  color: #464646;
  letter-spacing: 1.24px; }

.body__content {
  color: #464646;
  font-size: 16px;
  font-family: 'Gotham-Book';
  line-height: 24px; }

.body__list-links li {
  display: inline; }
  .body__list-links li:first-child::after {
    content: '•';
    margin: 0 5px 0 7px; }

.body__list-links a {
  box-shadow: inset 0 -1px 0 #B30086;
  color: #B30086;
  padding-bottom: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .body__list-links a:hover {
    text-decoration: none;
    color: #464646;
    box-shadow: inset 0 0 0 #B30086; }

.partners {
  min-height: 400px;
  height: auto;
  background: #F5F5F5;
  padding-bottom: 170px; }
  .partners .partners__topBg {
    background: transparent url(../img/city-section-top-bg.svg) center center no-repeat;
    width: 100%;
    background-size: contain;
    height: 129px;
    z-index: 10;
    position: relative;
    margin-top: -107px; }
  .partners .partners__content {
    z-index: 8;
    position: relative;
    padding-top: 171px;
    margin-top: -25px; }
    .partners .partners__content .partners__desc .body__title h2 {
      width: 350px;
      word-break: normal;
      font-family: 'Gotham-Book';
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 3.5px; }
    .partners .partners__content .partners__desc .body__content {
      line-height: 25px;
      font-size: 14px;
      margin-bottom: 11px; }
      .partners .partners__content .partners__desc .body__content li a {
        font-family: 'Gotham-Book'; }
    .partners .partners__content .partners__logos .partners__logoBox {
      height: 164px;
      background: #FFFFFF;
      border-bottom: 1px solid #F5F5F5;
      border-right: 1px solid #F5F5F5; }
      .partners .partners__content .partners__logos .partners__logoBox:nth-child(3n) {
        border-right: 0; }
      .partners .partners__content .partners__logos .partners__logoBox img {
        display: block;
        margin: 0 auto;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .partners .partners__content .partners__logos .partners__logoBox:hover img {
        transform: scale(1.07); }

.quote {
  margin-top: 51px; }
  .quote .quote__content {
    color: #868686;
    margin-top: 22px;
    font-size: 14px;
    line-height: 25px; }
  .quote .quote__author {
    margin-top: 24px;
    font-family: 'Gotham-Medium';
    font-size: 12px; }

footer {
  background: url("../img/footer-bg.jpg") 0 0 no-repeat;
  position: relative;
  height: auto; }
  footer.innerfooter .footer__top-bg {
    background: transparent url("../img/footer-top-bg-white.svg") center center no-repeat;
    background-size: contain; }
  footer .footer__top-bg {
    background: transparent url("../img/footer-top-bg.svg") center center no-repeat;
    width: 100%;
    height: 137px;
    background-size: contain;
    z-index: 10;
    position: relative;
    margin-top: -38px; }
  footer .footer__content {
    margin-top: -30px;
    z-index: 12;
    position: relative;
    padding-bottom: 27px; }
    footer .footer__content .footer__social-links {
      margin-bottom: 10px; }
      footer .footer__content .footer__social-links li {
        display: inline-block;
        width: 33px;
        height: 33px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        footer .footer__content .footer__social-links li a {
          color: #FFFFFF;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        footer .footer__content .footer__social-links li:hover {
          background: #FFFFFF;
          transform: scale(1.02); }
          footer .footer__content .footer__social-links li:hover a {
            color: #B30086; }
    footer .footer__content .footer__copyright {
      font-size: 12px;
      letter-spacing: 1px;
      color: #FFFFFF;
      text-transform: uppercase; }
  footer .footer__navigation {
    margin-top: 39px; }
    footer .footer__navigation li {
      display: inline;
      margin-right: 21px; }
      footer .footer__navigation li:last-child {
        margin-right: 0; }
      footer .footer__navigation li a {
        color: #FFFFFF;
        font-size: 12px; }

.innerpage {
  padding: 100px 0; }

.listedjobs .listedjobs__title {
  font-size: 30px;
  font-family: 'Gotham-Bold'; }

.listedjobs .listedjobs__filters {
  margin-top: 60px;
  background: #F5F5F5;
  padding: 20px; }
  .listedjobs .listedjobs__filters .filters__text {
    display: block;
    width: 100%;
    border-radius: 0px !important;
    margin-bottom: 15px;
    height: 45px;
    padding: 7px;
    border: 1px solid #dddddd; }
    .listedjobs .listedjobs__filters .filters__text:focus {
      outline: 0; }
  .listedjobs .listedjobs__filters .filters__select {
    display: block;
    width: 100%;
    border-radius: 0;
    margin-bottom: 15px;
    height: 45px;
    padding: 7px;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 0 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFF url(../img/form-select-triangle.svg) 230px center no-repeat; }
    .listedjobs .listedjobs__filters .filters__select:focus {
      outline: 0; }
  .listedjobs .listedjobs__filters .filters__submit {
    display: block;
    height: 45px;
    width: 100%;
    background: #B30086;
    border: 0;
    color: #ffffff;
    text-transform: uppercase; }

.listedjobs .listedjobs__pagination {
  margin-top: 30px; }
  .listedjobs .listedjobs__pagination li {
    display: inline-block;
    border: 1px solid #D8D8D8;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .listedjobs .listedjobs__pagination li a {
      color: #000000;
      display: block; }
    .listedjobs .listedjobs__pagination li:hover {
      background: #AEE119;
      border-color: #AEE119;
      color: #FFFFFF; }
      .listedjobs .listedjobs__pagination li:hover a {
        text-decoration: none;
        color: #FFFFFF; }
    .listedjobs .listedjobs__pagination li.pagination__separator {
      border: 0; }
      .listedjobs .listedjobs__pagination li.pagination__separator:hover {
        background: transparent;
        color: initial; }
    .listedjobs .listedjobs__pagination li.pagination__next-button {
      width: auto;
      padding-left: 5px;
      padding-right: 5px;
      background: #B30086;
      border-color: #B30086;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .listedjobs .listedjobs__pagination li.pagination__next-button:hover {
        background: #AEE119;
        border-color: #AEE119; }
      .listedjobs .listedjobs__pagination li.pagination__next-button a {
        color: #FFFFFF; }
    .listedjobs .listedjobs__pagination li.pagination__prev-button {
      width: auto;
      padding-left: 5px;
      padding-right: 5px;
      background: #AFAFAF;
      border-color: #AFAFAF;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .listedjobs .listedjobs__pagination li.pagination__prev-button:hover {
        background: #AEE119;
        border-color: #AEE119; }
      .listedjobs .listedjobs__pagination li.pagination__prev-button a {
        color: #FFFFFF; }

.listedjobs .listedjobs__stats {
  text-align: right;
  font-size: 20px;
  color: #000000; }

.listedjobs .listedjobs__list {
  padding-top: 65px; }
  .listedjobs .listedjobs__list .entry {
    padding: 23px 0;
    border-bottom: 1px solid #D8D8D8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .listedjobs .listedjobs__list .entry:hover .entry__details h3 {
      color: #B30086; }
    .listedjobs .listedjobs__list .entry:first-child {
      border-top: 1px solid #D8D8D8; }
    .listedjobs .listedjobs__list .entry::after {
      display: block;
      content: "";
      clear: both; }
    .listedjobs .listedjobs__list .entry .entry__details {
      float: left; }
      .listedjobs .listedjobs__list .entry .entry__details h3 {
        font-family: 'Gotham-Bold';
        font-size: 20px; }
      .listedjobs .listedjobs__list .entry .entry__details .list__inline-gray {
        margin-bottom: 0; }
        .listedjobs .listedjobs__list .entry .entry__details .list__inline-gray li {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
    .listedjobs .listedjobs__list .entry .entry__button a {
      width: 154px;
      height: 40px;
      text-align: center;
      border: 3px solid #B30086;
      color: #B30086;
      display: inline-block;
      line-height: 38px;
      font-size: 15px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .listedjobs .listedjobs__list .entry .entry__button a:hover {
        text-decoration: none;
        background: #B30086;
        color: #FFFFFF; }

* {
  margin: 0; }

body {
  padding: 10px;
  background: #FFFFFF;
  font-family: 'Gotham-Light'; }
