/* ====================
    Reset
   @mixin =================== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ====================
    Header
   @mixin =================== */
header {
  padding-top: 60px;
  background: url("../img/header-bg-simple.png") 0 0 no-repeat;
  padding-bottom: 200px; }

.nav {
  padding-top: 25px; }
  .nav .nav__link {
    float: left;
    line-height: 30px;
    margin-right: 26px; }
    .nav .nav__link:hover a {
      text-decoration: none;
      padding-bottom: 5px;
      box-shadow: 0 2px 0 #B30086; }
    .nav .nav__link a {
      color: #000;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
  .nav .nav__link-no-boxshadow:hover a {
    padding-bottom: 0px;
    box-shadow: 0 0px 0 #B30086; }
  .nav .nav__link-green-arrow::after {
    content: '';
    display: inline-block;
    background: transparent url("../img/menu-icon-green-triangle.svg") center center no-repeat; }
  .nav .nav__icon:hover a svg {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000; }
  .nav .nav__icon:hover a .line {
    fill: #FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.hero {
  margin: 122px 0; }
  .hero .title {
    font-size: 55px;
    font-family: 'Gotham-Book';
    width: 664px;
    word-break: normal;
    margin-bottom: 20px; }
    .hero .title span {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .hero .title:hover span {
      color: #B30086; }
  .hero .form .form__input {
    height: 55px;
    width: 300px;
    border: 0;
    padding: 0 5px 0 25px;
    font-size: 18px;
    font-family: 'Gotham-Light';
    background: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .hero .form .form__input:hover {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
    .hero .form .form__input:focus {
      outline: 0; }
  .hero .form .form__select {
    height: 55px;
    width: 150px;
    border: 0;
    border-radius: 0;
    padding: 0 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFF url("../img/form-select-triangle.svg") 125px center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .hero .form .form__select:focus {
      outline: 0; }
    .hero .form .form__select:hover {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1); }
  .hero .form .form__submit {
    border: 0;
    border-radius: 0;
    height: 55px;
    width: 101px;
    text-indent: -9999px;
    border: 5px solid #000;
    background: transparent url("../img/search-icon-btn.svg") center center no-repeat;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .hero .form .form__submit:hover {
      background: #000 url("../img/search-icon-btn-white.svg") center center no-repeat; }

.focus .focus__list::after {
  display: block;
  content: "";
  clear: both; }

.focus .focus__list h3 {
  font-family: 'Gotham-Book';
  margin-bottom: 29px; }

.focus .focus__list li {
  margin-bottom: 14px;
  float: left; }
  .focus .focus__list li a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Gotham-Book'; }

.focus .focus__list-twocolumn li {
  width: 50%; }

.focus .focus__list-threecolumn li {
  width: 33%; }

* {
  margin: 0; }

body {
  padding: 10px;
  font-family: 'Gotham-Light'; }
