.innerpage
  padding: 100px 0

.listedjobs

.listedjobs__title
  font-size: 30px
  font-family: 'Gotham-Bold'
    //CHANGEFONT

.listedjobs__stats
  text-align: right
  font-size: 20px
  color: #000000

.listedjobs__filters
  margin-top: 60px
  background: #F5F5F5
  padding: 20px
  .filters__title
    color: $content-black
    text-transform: uppercase
    margin-bottom: 21px
  .filters__keywords-container
    background: #ffffff
    border: 1px solid #DBDBDB
    position: relative
    min-height: 70px
    height: auto
    padding: 18px 18px 0 18px
    margin-bottom: 15px
    label
      color: $content-black
      font-size: 12px
      margin-bottom: 6px
    .filters__text
      border: 0
      color: $purple
      padding-left: 0
      &::placeholder
        color: #C9C9C9
  .filters__text
    display: block
    width: 100%
    border-radius: 0px!important
    margin-bottom: 15px
    height: 45px
    padding: 7px
    border: 1px solid #dddddd
    &:focus
      outline: 0
  .filters__select
    display: block
    width: 100%
    border-radius: 0
    margin-bottom: 15px
    height: 45px
    padding: 7px
    border: 1px solid #dddddd
    border-radius: 0
    padding: 0 21px
    -webkit-appearance: none
    -moz-appearance: none
    background: #FFF url(../img/form-select-triangle.svg) 95% center no-repeat
    &:focus
      outline: 0
  .filters__submit
    display: block
    height: 45px
    width: 100%
    background: $purple
    border: 0
    color: #ffffff
    text-transform: uppercase
.listedjobs__pagination
  margin-top: 30px
  li
    display: inline-block
    border: 1px solid #D8D8D8
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    a
      color: #000000
      display: block
    @include transition(all, .2s, ease-in-out)
    &:hover
      background: $green
      border-color: $green
      color: #FFFFFF
      a
        text-decoration: none
        color: #FFFFFF
    &.pagination__separator
      border: 0
      &:hover
        background: transparent
        color: initial
    &.pagination__next-button
      width: auto
      padding-left: 5px
      padding-right: 5px
      background: $purple
      border-color: $purple
      @include transition(all, .2s, ease-in-out)
      &:hover
        background: $green
        border-color: $green
      a
        color: #FFFFFF
    &.pagination__prev-button
      width: auto
      padding-left: 5px
      padding-right: 5px
      background: #AFAFAF
      border-color: #AFAFAF
      @include transition(all, .2s, ease-in-out)
      &:hover
        background: $green
        border-color: $green
      a
        color: #FFFFFF

.listedjobs__list
  padding-top: 65px
  .entry
    padding: 23px 0
    border-bottom: 1px solid #D8D8D8
    @include transition(all, .2s, ease-in-out)
    &:hover
      .entry__details
        h3
          color: $purple
    &:first-child
      border-top: 1px solid #D8D8D8
    @include clearfix
    .entry__details
      float: left
      h3
        font-family: 'Gotham-Bold'
        //CHANGEFONT
        font-size: 20px
      .list__inline-gray
        margin-bottom: 0
        li
          @include transition(all, .2s, ease-in-out)
    .entry__button
      a
        width: 154px
        height: 40px
        text-align: center
        border: 3px solid $purple
        color: $purple
        display: inline-block
        line-height: 38px
        font-size: 15px
        @include transition(all, .2s, ease-in-out)
        &:hover
          text-decoration: none
          background: $purple
          color: #FFFFFF


.job
  .body__title
    font-size: 3em
    //fontAvenit


.job__breadcrumbs
  margin-bottom: 35px
  li
    display: inline-block
    font-size: 12px
    //FONT AVENIR
    color: $purple
    margin-right: 14px
    &:last-child
      margin-right: 0
      &::after
        background: transparent
    &::after
      content: ''
      background: url('../img/breadcrumbs-arrow.svg') 0 0 no-repeat
      width: 7px
      height: 8px
      display: inline-block
      margin-left: 14px
    a
      color: inherit


.job__description
  .job__summary
    line-height: 27px
    font-size: 18px
    margin-bottom: 60px
  .job__info
    p
      font-size: 15px
      line-height: 25px
      margin-bottom: 33px
      //FONT AVENIR

.job__skills
  li
    margin-bottom: 30px
    padding-left: 14px
    position: relative
    &::before
      content: ''
      background: url('../img/job-skills-arrow.svg') 0 0 no-repeat
      display: inline-block
      width: 6px
      height: 10px
      position: absolute
      left: -6px

.job__apply
  li
    margin: 0 auto 25px auto
  .apply__separator
    text-align: center
    width: 320px
    height: 50px
    text-align: center
    display: block
    position: relative
    span
      background: #ffffff
      position: absolute
      top: 19px
      z-index: 2
      padding: 0 15px
      left: 133px
      font-size: 10px
    hr
      width: 100%
      height: 2px
      position: absolute
      background: #E9E9E9
  .apply_card
    background: #f5f5f5
    width: 320px
    display: block
    padding: 20px 30px
    .card__avatar
      border-radius: 50%
      float: left
    .card__name
      width: 160px
      font-size: 14px
      line-height: 18px
      letter-spacing: 0.7px
      float: left
      margin: 12px 0 0 20px
    .list__two-colours
      padding: 0
      margin-top: 26px
      .list__entry
        a
          color: $purple

  .apply__btn
    width: 320px
    height: 50px
    line-height: 50px
    text-align: center
    text-transform: uppercase
    display: block
    cursor: pointer
    .fa
      font-size: 20px
      @include transition(all, .2s, ease-in-out)
    @include transition(all, .2s, ease-in-out)
    a
      color: #fff
    &:hover
      background: transparent
      a
        text-decoration: none
        .fa
          transform: scale(1.2)
  .apply__btn-linkedin
    background: #0976B4
    border: 2px solid #0976B4
    &:hover
      a
        color: #0976B4
  .apply__btn-link
    background: $purple
    border: 2px solid $purple
    &:hover
      a
        color: $purple
  .apply__btn-share
    background: #F5F5F5
    a
      color: #000000
      font-size: 15
      //AVENIR
    &:hover
      background: $purple
      a
        color: #ffffff

#fullMenu
  width: 100%
  height: 100%
  background: rgba(177,20,134, .91)
  position: fixed
  z-index: 999
  top: 0
  left 0
  display: none

.fullMenuVisible
  display: block!important
