@media only screen and (min-width: 1200px)
  .partners__topBg
    height: 135px!important

@media only screen and (min-width: 1024px)
  .partners__topBg
    height: 149px

@media only screen and (max-width: 1024px)
  .featuredJobs_box
    margin-top: 10px!important
  .partners__content
    padding-top: 10%!important
  .partners__logos
    margin-top: 30px
  .filters__select
    background: #FFF url(../img/form-select-triangle.svg) 95% center no-repeat!important
  .job__summary
    margin: 2% auto
  .job
    .body__title
      font-size: 2em
  .hero
    margin-top: 40px
    .title
      font-size: 3em
      width: auto
  .form
    .form__input
      display: block
      width: 100%!important
      margin: 0 auto 15px auto
    .form__select
      display: block
      width: 100%!important
      margin: 0 auto
      background: #FFF url(../img/form-select-triangle.svg) 95% center no-repeat!important
      margin: 0 auto 15px auto
    .form__submit
      display: block
      width: 100%!important
      margin: 0 auto
  .header-bottom-bg
    height: 97px
  .partners__topBg
    height: 164px!important
@media only screen and (max-width: 768px)
  header
    height: auto
    padding: 3% 0 0 0
    .hero
      margin-bottom: 50px
    .focus__list
      margin-top: 50px
  .nav__link
    display: none
  .featuredJobs
    padding-top: 60px
  .listedjobs__title
    text-align: center
    margin: 20px auto
  .listedjobs__stats
    text-align: center
    margin: 20px auto
  .entry
    text-align: center
    .entry__details
      float: none!important
    .entry__button
      float: none!important
      display: block
      margin: 15px auto
  .job__info
    padding: 0 20px
  .job__summary
    padding-left: 4%
    padding-right: 4%
  .job__info
    padding-left: 4%
    padding-right: 4%
  .header-bottom-bg
    height: 56px
  footer
    height: auto
    padding: 10% 0
    .footer__social-links
      display: block
      margin: 0 auto 20px auto
      width: 130px
    .footer__copyright
      text-align: center
      width: 300px
      display: block
      line-height: 22px
      margin: 20px auto
    .footer__navigation
      float: none!important
      li
        display: block
        margin-right: auto
        a
          margin: 9px auto
          display: block
          text-align: center
  .partners__topBg
    height: 168px
    margin-top: -104px
  .footer__top-bg
    height: 115px
    margin-top: -98px
  .partners__logos
    margin-top: 30px

@media only screen and (max-width: 480px)
  .hero
    .title
      font-size: 1.4em
      width: auto
      text-align: center
  .header-bottom-bg
    height: 45px
  .partners__topBg
    height: 175px!important
  .partners
    padding-bottom: 45px
  .footer__content
    margin-top: 10px!important
  .footer__top-bg
    height: 18px
  .partners__logos
    margin-top: 30px
